#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.pillar-container {
  height: 200px;
  max-width: 80vw;
  overflow: auto;
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: rgb(208, 205, 205);
  border-radius: 15px;
}

.pillar-container__content {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  height: 100%;
}

.pillar {
  background-color: blue;
  width: 10px;
  margin-left: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.control-panel {
  display: flex;
  align-items: center;
  height: 70px;

}

.control-panel_elem{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin-left: 15px;
}

.control-panel_elem p {
  margin: 0;
  text-align: start;
}
